## Pastas de Compilação e Binários
[Bb]in/
[Oo]bj/
out/

## Arquivos de Cache e Configuração da IDE
.vs/
.vscode/
*.user
*.userosscache
*.sln.docuser

## Banco de Dados Local 
*.db
*.db-shm
*.db-wal

## Logs e arquivos temporários
*.log
.pnpm-debug.log*